@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
body {
  margin: 0;
  background: url(./images/background.png) center center / cover fixed no-repeat;
  overflow: hidden;
  font-family: "Rubik", serif;
}

body #root {
  box-sizing: border-box;
  padding: 20px;
  height: 1080px;
  width: 1920px;
}

body * {
  box-sizing: border-box;
  font-family: "Rubik", serif;
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
}

.appearanceAnimation {
  animation: 1s ease-out 0s 1 appearance forwards;
}

@keyframes appearance {
  0% {
      opacity: 0;
      transform: scale(0);
  }
  100% {
      opacity: 1;
      transform: scale(1);
  }
}
